NOUS_API_KEY=
ARC_RPC_URL=https://rpc.testnet.arc.network
ARC_CHAIN_ID=5042002
PRIVATE_KEY=0xf9334b27cfb27b8cbbe7b0636092ac56d50b04e099cfd3c3bf19aa293d363c7c
CONTRACT_ADDRESS=
VITE_BACKEND_URL=http://localhost:3001
